bin
build
.bzr
develop-eggs
dist
downloads
.DS_Store
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.egg
*.egg-link
*.egg-info
eggs
fake-eggs
.hg
.installed.cfg
.minitage*
*.mo
.mr.developer.cfg
parts
*.pyc
*.pyo
.svn
t
tags
tags.python
var
