########################################################################################################################
# Project specific settings
########################################################################################################################


[v]
project-programs =     10 zeo ${locations:zeoserver}/bin/runzeo ${locations:zeoserver} true ${v:sys-user}
    21 instance1 (autostart=${v:autostart_instance1}) ${buildout:directory}/bin/instance1 [console] true ${v:sys-user}
filesystem-parts =
    touch
    chmod
    chown
    mkdirs
project-parts =
    env
    grp
    productdistros
    zeoserver
    instance-plain
    instance
    instance1
    zopepy
    backup
    omelette
    code-analysis
    createcoverage
    flake8
    zptlint
    coverage-sh
    ibwtplonesite.test

[buildout]
versions=versions
sources = sources
# project packages
eggs =ibwt.plonesite
        Pillow
zcml =
# extra directories oto add to the python path
extra-paths =
auto-checkout =ibwt.plonesite
# 
# see http://pypi.python.org/pypi/mr.developer for documentation

# auto tracked developement products
[sources]
ibwt.plonesite = fs ibwt.plonesite

[versions]
# never ever pin paste and other base eggs
Paste =
PasteDeploy =
PasteScript =
docutils =
# do not fix latest templates
ZopeSkel =
# do not fix for latest Cheetah sake
Markdown =

# MISC
nodejs = 0.10.0
libxml2 = 2.9.1
libxslt = 1.1.28

[versions]
Markdown = 2.3.1
Products.CMFPlomino = 1.18.5
buildout-versions = 1.7
collective.dexteritytextindexer = 2.0
collective.recipe.backup = 2.15
collective.recipe.supervisor = 0.19
createcoverage = 1.2
ipython = 1.1.0
jarn.mkrelease = 3.8
lazy = 1.1
mccabe = 0.2.1
meld3 = 0.6.10
pep8 = 1.4.6
plomino.tinymce = 0.7.2
plone.app.themingplugins = 1.0b1
plone.recipe.codeanalysis = 1.0b6
plone.recipe.command = 1.1
plone.recipe.distros = 1.5
pyflakes = 0.7.3
setuptools-git = 1.0
setuptools-hg = 0.4
setuptools-subversion = 3.1
supervisor = 3.0
z3c.recipe.usercrontab = 1.1

# Required by:
# ibwt.plonesite==1.0dev
chardet = 2.1.1

# Required by:
# Products.CMFPlomino==1.18.5
collective.codemirror = 0.2

# Required by:
# Products.CMFPlomino==1.18.5
collective.js.datatables = 2.0

# Required by:
# Zope2==2.13.21
# plone.app.theming==1.1.1
docutils = 0.11

# Required by:
# plone.recipe.codeanalysis==1.0b6
flake8 = 2.1.0

# Required by:
# plone.recipe.codeanalysis==1.0b6
i18ndude = 3.3.3

# Required by:
# Products.CMFPlomino==1.18.5
jsonutil = 1.0.3

# Required by:
# plone.app.themingplugins==1.0b1
z3c.jbot = 0.7.1

# Required by:
# plone.recipe.codeanalysis==1.0b6
zptlint = 0.2.4


[remotes]
# Plone
plone = git://github.com/plone
plone_push = git@github.com:plone
svn_plone = https://svn.plone.org/svn/plone
#svn_plone = http://svn.plone.org/svn/plone

# Collective
collective = git://github.com/collective
collective_push = git@github.com:collective
svn_collective = https://svn.plone.org/svn/collective
#svn_collective = http://svn.plone.org/svn/collective

[locations]
zope2=${buildout:parts-directory}/zope2
instance1=${buildout:parts-directory}/instance1
instance=${buildout:parts-directory}/instance
productdistros=${buildout:parts-directory}/productdistros
zeoserver=${buildout:parts-directory}/zeoserver

[zeoserver]
recipe = plone.recipe.zeoserver
blob-storage = ${locations:blob-storage}
zeo-address = ${hosts:zeo}:${ports:zeo}
socket-name = ${buildout:directory}/var/zeo.zdsock
zeo-conf-additional =

eggs = ZopeUndo
    ZODB3
    plone.app.blob

[instance]
recipe = plone.recipe.zope2instance
verbose-security=${v:verbose-security}
zeo-client-cache-size = ${v:zeo-client-cache-size}
zeo-client = on
zeo-address = ${zeoserver:zeo-address}
temporary-storage =
    <zeoclient>
    server ${zeoserver:zeo-address}
        storage temp
        name zeostorage
        var ${buildout:directory}/var
    </zeoclient>
    mount-point /temp_folder
    container-class Products.TemporaryFolder.TemporaryContainer

blob-storage = ${zeoserver:blob-storage}
shared-blob = on
http-address = ${hosts:instance}:${ports:instance}
user = ${v:admin-user}:${v:admin-password}
session-timeout-minutes = ${v:session-timeout-minutes}
event-log-level = ${v:event-log-level}
z2-log-level = ${v:z2-log-level}
#webdav-address = ${hosts:webdav}:${ports:webdav}
zodb-cache-size = 50000
zeo-client-cache-size = 5MB

# attacking zopepy:eggs make instance be built after zopepy
# in any case thx to the buildout automatic parts sort.
extra-paths = ${buildout:extra-paths}
eggs = ${buildout:eggs}
# security hotfixes
#    Products.PloneHotfix20110720
    
#with_ploneproduct_pacaching
    plone.app.caching
#with_ploneproduct_patheming
    plone.app.theming
    plone.app.themingplugins
#with_ploneproduct_dexterity
    collective.dexteritytextindexer
    plone.app.dexterity
    plone.app.referenceablebehavior
    plone.directives.dexterity
    plone.directives.form
#with_ploneproduct_plominotinymce
    plomino.tinymce
#with_ploneproduct_plomino
    Products.CMFPlomino

products =
    ${buildout:directory}/products
    ${locations:productdistros}

zcml =
    ${buildout:zcml}

environment-vars =
    zope_i18n_compile_mo_files = true
    TMPDIR = ${locations:tmp}

[instance1]
<= instance
http-address = ${hosts:instance1}:${ports:instance1}

# Use this section to download additional old-style products.
# List any number of URLs for product tarballs under URLs (separate
# with whitespace, or break over several lines, with subsequent lines
# indented). If any archives contain several products inside a top-level
# directory, list the archive file name (i.e. the last part of the URL,
# normally with a .tar.gz suffix or similar) under 'nested-packages'.
# If any archives extract to a product directory with a version suffix, list
# the archive name under 'version-suffix-packages'.
[productdistros]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.distros
recipe = plone.recipe.distros
urls=${groups:products-urls}
version-suffix-packages = ${groups:version-suffix-packages}
nested-packages = ${groups:nested-packages}

[instance-plain]
<= instance
zeo-client = off
zeo-address =
temporary-storage =

# eggs & scripts installation
[zopepy]
recipe = zc.recipe.egg
interpreter = zopepy
eggs =
# release helpers
    zest.releaser
    jarn.mkrelease
    z3c.checkversions [buildout]
    ${instance:eggs}
# Scripts generated filtering
scripts =
#z3c.checkversions
    checkversions
#jarn.mkrelease
    mkrelease
#zest.releaser
    project_diff
    project_eggs
    project_md5
    project_release
    package_svn_prepare
    release_eggs
    zopepy
#zope2
    repozo
    zeoctl
    zeopack
    zeopasswd     
extra-paths =
    ${instance:extra-paths}

# zope.testing testrunner support
[testenv]
INSTANCE_HOME = ${locations:instance}
CONFIG_FILE = ${locations:instance}/etc/zope.conf

# See http://pypi.python.org/pypi/zc.recipe.testrunner/
[ibwtplonesite.test]
recipe = zc.recipe.testrunner
eggs =
    plone.app.upgrade
    Plone
    ibwt.plonesite [test]
    ${instance:eggs}
extra-paths = ${instance:extra-paths}
defaults = ['--exit-with-status', '--auto-color', '--auto-progress', '-s', 'ibwt.plonesite']
environment = testenv
extra-paths = ${zopepy:extra-paths}

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
products = ${instance:products}
packages = ./
           ${instance:extra-paths}

# Command below is important
[mkdirs]
recipe = plone.recipe.command
update-command = ${mkdirs:command}
command =
    mkdir -pv ${locations:blob-storage};
    mkdir -pv ${locations:blob-backup};
    mkdir -pv ${locations:blob-storage};
    mkdir -pv ${locations:blob-backup};
    mkdir -pv ${locations:tmp};
    mkdir -pv ${buildout:directory}/var/log/apache;
    mkdir -pv ${buildout:directory}/var/log/nginx;
    mkdir -pv ${buildout:directory}/var/backups;\
    mkdir -pv ${buildout:directory}/var/snapshotbackups

[chmod]
# This recipe is used to set permissions -- and ownership for root mode installs
recipe = plone.recipe.command
update-command = ${chmod:command}
command =
    chmod 600 .installed.cfg etc/sys/settings*;
    find ${buildout:directory}/var -type d -exec chmod 700 {} \;
    chmod 744 ${buildout:directory}/bin/*;
    chmod -R 740 ${buildout:directory}/parts/;
    chmod -v 750 ${buildout:directory}/cron_scripts/*.sh;

[chown]
# This recipe is used to set permissions -- and ownership for root mode installs
recipe = plone.recipe.command
update-command = ${chown:command}
command =
    chown -R ${v:sys-user}:${v:sys-group} ${buildout:directory}/var;
    find ${buildout:eggs-directory} -type d -name LC_MESSAGES -exec chown -R ${v:sys-user}:${v:sys-group} {} \;
    find ${buildout:eggs-directory}/Products.kupu* -type d -name i18n -exec chown -R ${v:sys-user}:${v:sys-group} {} \;
    find ${buildout:parts-directory} -name runzope -exec chown ${v:sys-user}:${v:sys-group} {} \;

[backup]
recipe = collective.recipe.backup
blobbackuplocation = ${locations:blob-backup}/backups
blobsnapshotlocation = ${locations:blob-backup}/snapshots
keep = ${crons:nb_fullbackups_to_keep}
keep_blob_days = ${crons:nb_backups_to_keep}

[touch]
recipe = plone.recipe.command
update-command = ${touch:command}
command =
    touch ${buildout:directory}/var/log/instance1.log;
    touch ${buildout:directory}/var/log/instance.log;
    touch ${buildout:directory}/var/log/instance2.log;
    touch ${buildout:directory}/var/log/instance3.log;
    touch ${buildout:directory}/var/log/instance4.log;
    touch ${buildout:directory}/var/log/main.log;
    touch ${buildout:directory}/var/log/transform.log;

[env]
recipe = collective.recipe.environment
PS1 =
TERMCAP =
SSH_CLIENT =
SSH_TTY =
SSH_CONNECTION =
LANG =
SHELL =

[grp]
recipe = collective.recipe.grp

[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml
build-libxslt = true
build-libxml2 = true
libxslt-url = http://gentoo.tiscali.nl/distfiles/libxslt-${versions:libxslt}.tar.gz
libxml2-url = http://gentoo.tiscali.nl/distfiles/libxml2-${versions:libxml2}.tar.gz

[groups]
# OLD ZOPE2 PRODUCTS SUPPORT
products-urls =     

version-suffix-packages =     

nested-packages =     

[nodejs]
recipe = gp.recipe.node
npms = csslint jshint coffee-script less
scripts = csslint jshint coffee lessc npm
url = http://nodejs.org/dist/v${versions:nodejs}/node-v${versions:nodejs}.tar.gz

[buildout]
package-min-coverage = ${v:package-min-coverage}

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = src/ibwt.plonesite
pre-commit-hook = ${v:pre-commit-hook}
flake8 = True
flake8-ignore = ${v:flake8-ignore}
flake8-max-complexity=${v:flake8-max-complexity}
return-status-codes = True

[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage

[flake8]
# XXX: use of this part is deprecated; use plone.recipe.codeanalysis instead
recipe = zc.recipe.egg
eggs = flake8

[coverage-sh]
recipe = collective.recipe.template
output = ${buildout:directory}/bin/coverage.sh
mode = 755
input = inline:
    #! /bin/sh
    # checks for report created with createcoverage and evaluate the result
    DEFAULT=${buildout:package-min-coverage}
    REPORT="htmlcov/index.html"
    if [ "$#" -eq 1 ] && [ $1 -ge 0 ] && [ $1 -le 100 ]; then
        MINIMUM=$1
    else
        echo "Invalid value for minimum coverage; using default: $DEFAULT%"
        MINIMUM=$DEFAULT
    fi
    if [ ! -f "$REPORT" ]; then
        bin/createcoverage run bin/ibwtplonesite.test
    fi
    # find first percentage value in file (module test coverage) and return it
    COVERAGE=`grep "[0-9]\{1,3\}[%]" $REPORT -m 1 -o | grep "[0-9]\{1,3\}" -o`
    if [ $COVERAGE -lt $MINIMUM ]; then
        echo "Insufficient test coverage: $COVERAGE% (minimum acceptable is $MINIMUM%)"
        exit 1
    else
        echo "Current test coverage: $COVERAGE%"
        exit 0
    fi

[zptlint]
# XXX: use of this part is deprecated; use plone.recipe.codeanalysis instead
recipe = zc.recipe.egg
eggs = zptlint

# vim:set ft=cfg:
